
/* Background Shapes */
.circle_one, .circle_three {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: fixed;
    transition: transform 0.3s ease;
}

.circle_two, .circle_four {
    width: 40px;
    height: 40px;
    background-color: red;
    position: fixed;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.circle_one {
    top: 20px;
    left: 20px;
}

.circle_two {
    top: 20px;
    left: 20px;
    margin: 105px;
}

.circle_three {
    bottom: 20px;
    right: 20px;
}

.circle_four {
    bottom: 20px;
    right: 20px;
    margin: 105px;
}

.circle_one:hover, .circle_two:hover, .circle_three:hover, .circle_four:hover {
    transform: scale(1.1);
}

.wave_shape_one, .wave_shape_two {
    background-color: red;
    width: 300px;
    height: 300px;
    position: fixed;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.wave_shape_one {
    bottom: 0;
    left: 0;
    margin: -150px;
}

.wave_shape_two {
    top: 0;
    right: 0;
    margin: -140px;
}

.wave_shape_one:hover, .wave_shape_two:hover {
    transform: scale(1.1);
}

body {
    height: 100vh;
    border: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* login form */
#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* header */
#header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 0 20px 0;
}

h1 {
    font-size: 40px;
    margin: 0 0 10px 0;
}

p {
    margin: 0; 
    color: gray;
}

/* inputs */
#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input {
    font-size: 22px;
    border: 0px solid;
    border-radius: 8px 0 0 8px;
    background-color: #ffbfaa;
    padding: 10px;
    outline: none;
    width: 270px; 
}

input[type="text"]::placeholder {
    color: gray;
    font-size: 15px;
    padding: 15px;
} 

input[type="password"]::placeholder {
    color: gray;
    font-size: 15px;
    padding: 15px;
} 

.input_box, i {
    display: flex;
    margin: 3px;
}

/* icons */
#box-red {
    background-color: red;
    width: 50px;
    border-radius: 0 8px 8px 0;
    transition: transform 0.5s ease;
    cursor: pointer;
}

#box-red:hover {
    transform: scale(1.2);

}

#user-icon, #key-icon {
    color: white;
    display: flex;
    align-items: center;
    margin: 8px;
    padding: 8px;
}

/* forgot password */
.forgot_password a {
    text-decoration: none;
    color: gray;
    display: flex;
    padding: 10px;
}

.forgot_password a:hover {
    color: red;
}

/* buttons */
button {
    margin: 12px;
    width: 340px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

button:hover {
    transform: scale(1.1);
}

#login-btn {
    color: white;
    font-weight: bold;
    background-color: red;
    border: 0px solid;
    box-shadow: 0px 14px 8px rgba(255, 99, 71, 0.3);
}

#signup-btn {
    color: red;
    font-weight: bold;
    background-color: white;
    border: 1px solid red;
}